<div class="container">
<div class="row headText">
    Find and Replace
</div>
<div class="row">
    
    <div class="col-2">  
        Column Name:
      <kendo-dropdownlist [data]="listItems" class="ddl">
      </kendo-dropdownlist>
    </div>

    
    <div class="col-2">
        Condition
        <kendo-dropdownlist [data]="listItems" class="ddl">
          </kendo-dropdownlist>
    </div>
    
    <div class="col">
        Value
        <input kendoTextBox  class="inputControl rounded"/>
    </div>
    <div class="col">
        Replace With
        <input kendoTextBox   class="inputControl rounded"/>
    </div>
    <div class="col-2"> <div>
        <h2>Hello {{name}}</h2>
        <div>
          <h1 *ngFor="let item of itemArray.items">{{ item.name }}</h1>
        </div>
        <button (click)="showUpdatedItem(newItem)">Update Item</button>
      </div>
      <p>
      {{ itemArray | json }}
      </p></div>
  </div>
</div>



